body{
	/* background-image: url(../img/login2.jpg); */
	background-color:#f5f7fa;
}
/*表单样式*/
    .myformdiv {
		background-color:#fff;
        /* background-color: #fff8ff; */
        /* opacity: 0.65; */
    }

    /*垂直居中，div上边界距离窗口上边的距离为窗口高度的50%，
    实际上此时div内容整体已经偏下，再把整个身子往上移动一半即可
    并针对不同浏览器进行兼容。
    */
    .col-center-block {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
	
	.widget {
			        z-index: 9999;
			        position: fixed;
			        top: 0;
			        left: 0;
			        right: 0;
			        bottom: 0;
			        background: rgba(0,0,0,.5);
			    }
			    .widget .body {
			        width: 300px;
			        background: #fff;
			        padding: 20px 10px;
			        border-radius: 2px;
			        border: 1px solid #ccc;
			        text-align: center;
			        position: absolute;
			        font-size: 14px;
			        top: 50%;
			        left: 50%;
			        transform: translate(-50%, -50%);
			    }
			    .widget .body .btns {
			        margin-top: 20px;
			    }
			    .widget .body .btns a.btn-cancel {
			        color: #fff;
			        background: #ccc;
			    }
			    .widget .body .btns a {
			        background: inherit;
			        background-color: rgba(68, 181, 73, 1);
			        border: none;
			        border-radius: 2px;
			        color: #fff;
			        font-size: 14px;
			        display: inline-block;
			        padding: 8px 25px;
			        cursor: pointer;
			        margin-left: 10px;
			    }
	
	
	
	.login_in{
		display: block;
	}
	.login_up{
		display: none;
	}