body{
	background-color: #ffffff;
}
#hender{
	background-color: #83a5ee;
	width: 100%;
	height: 3.5rem;
	overflow: hidden
}
#zuodaohang{
	background-color: #f5f5f5;
	width: 17%;
	float: left;
	border-right: 1px solid #C2C2C2;
}
#zuoliebiao{
	background-color: #ffffff;
	width: 20%;
	float: left;
	border-right: 1px solid #C2C2C2;
}
#edits{
	background-color: #ffffff;
	width: 62%;
	float: left;
}
#imglogo{
	float: left;
	width:14%;
	height:3.5rem;
	line-height: 3.5rem;
	text-align: center;
}
#header_right{
	width: 50%;
	float: right;
	height:3.5rem;
	line-height: 3.5rem;
}
#header_right li{
	float: right;
	height:3.5rem;
	line-height: 3.5rem;
}
#header_right li a{
	color: #EEEEEE;
}
.fengexian{
	 margin: 0 1rem;
	 color: #2f67e9;
}
#header_right li ul{
	position: absolute;
	margin-right: 8%;
	text-align: center;
	/* border: 1px solid #066591; */
	border-top: none;
	background-color: white;
	border-top: 6px solid #889dea;
	display: none;
	z-index: 444;
}
#header_right li ul li{
	height:1.8rem;
	line-height: 1.8rem;
}
#header_right li ul li a{
	color: #95999C;
}
#header_right li ul li:hover{
	background-color: #D9EDF7;
}
#header_right li ul li:hover a{
	color: #9FCDFF;
}
#geren:hover #erji{
	display: block;
}
#addword,#headsousuo,#edit_title{
	width: 100%;
	height: 70px;
	overflow: hidden;
}
#addword ul{
	height:70px ;
	line-height: 70px;
	margin-left: 25%;
}
#addword ul:hover #newnode{
	color: #007DDB;
	cursor:pointer;
}
#wenjian .xuanxian:hover{
	background-color: #c5c8ff;
	cursor:pointer;
}
#wenjian{
	overflow: hidden;
}
#wenjian div ul li{
	font-size: 14px;
	font-family: sans-serif;
}
#addword ul li,.xuanxian ul li,.testtree ul li{
	float: left;
}
.xuanxian{
	width: 100%;
	height: 40px;
	/* background-color: #896bff; */
}
.xuanxian ul{
	height: 40px;
	line-height: 40px;
	margin-left: 18%;
	overflow: hidden;
}
#shousuo{
	width:17%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
.testtree{
	width: 100%;
	height: 35px;
	margin-left: 20%;
}

.testtree ul li i{
	font-size: 18px; margin-right: 8px;color:#95999C;
}

.testtree ul:hover{
	background-color: #c5c8ff;
	cursor:pointer;
}
#headsousuo ul{
	overflow: hidden;
	margin-top: 6.4%;
	margin-left: 10%;
}
#headsousuo ul li{
	float: left;
}
#txtselword{
	width:150px;
}
.listitem{
	overflow:hidden;
	height:45px;
	line-height: 45px;
}
.listitem:hover{
	background-color: #d4edff;
}
.listitem li{
	float: left;
	margin-left: 5px;
}
.listitem .itemtime{
	float: right;
	font-size: 10px;
	color: #B9BBBE;
	margin-right: 5px;
	font-family: "微软雅黑";
}
.itemtxt{
	font-family: "微软雅黑";
	font-size: 10px;
	margin-top: 0;
}
#edit_title{
	width: 100%;
	height: 70px;
	overflow: hidden;	
}
#edit_title #wordtitle{
	margin-left: 3%;
	height: 100%;
	width: 65%;
	border: none;
	font-size: 20px;
	font-family: "微软雅黑";
}
#edit_title #btnword{
	color: #7ABAFF;
}
.txtdocument{
	border: none;
	background-color: #f5f5f5;
	font-size: 9px;
}
#txtdocument_input{
	font-size: 9px;
}